/*GENERALES*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');
    
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inconsolata', monospace;
}
h1{
    text-align: center;
    color: #fd03ae;
    padding: 20px 0;
}
p{
    font-size: 1em;
    text-align: center;
}
 
/*LOGO Y MENU*/
.header {
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    align-items:center;
    background: #fdfdfd;
 
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.logo img {
    width: 40%;
}
.menu{
    list-style: none;
    padding: 10px;
    background: #ffffff;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: #050005;
    background-color: #fdfcfd;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #fd03ae;
}
 
/*CARROUSEL INDEX*/
.slider-foto {
    width: 100%;
    max-height: 50%;
    margin: 10px auto 0;
    overflow: hidden;
}
.slider-foto ul {
    display: flex;
    padding: 10px;
    width: 400%;
 
    animation: slide 16s infinite alternate-reverse ease-in-out;
}
.slider-foto li {
    list-style: none;
    width: 100%;
}
.slider-foto img {
    justify-content: center;
    width: 100%;
}
 @keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
 
    25% {margin-left: -100%;}
    50% {margin-left: -100%;}
 
    55% {margin-left: -200%;}
    70% {margin-left: -200%;}
 
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

/*ARTICULO NOSOTROS*/
article {
    display: flex;
    box-sizing: content-box;
    margin: 20px 20px 20px 20px;
    background-color: #fdfcfd;
    border: solid #fd03ae;
}
section {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 20px;
    letter-spacing: 1px;
}
 
/*GALERIA FOTOS*/
.linea{
    background: #050005;
    height: 5px;
    width: 100%;
    display: block;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 450px;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria a:hover img{
    filter: blur(2px);
    transform:rotate(10deg) scale(1.3)
}
/*abrir fotos galeria*/
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.light-box i{
    color: #FEE1E8;
}
.light-box img{
    width: 75vw;
    max-height: 70vh;
}
.light-box:target{
    transform: scale(1);
}
 
/*CARD*/
.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    box-sizing: content-box;
    flex-wrap: wrap;
    justify-content: center;
}
.container .card{
    width: 330px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card img{
    width: 330px;
    height: 220px;
}
.container .card h3{
    font-weight: 600;
    color: #fd03ae;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.titulo{
    text-decoration: underline;
    font-weight: 100;
    margin-bottom: 5px;
}

/*FORMULARIO*/
.formulario{
    float: left;
    width: 50%;
}
legend{
    background-color: #FEE1E8;
}
label{
    background-color: #ECD5E3;
}
select{
    background-color: #eb73ef;
}
input{
    border-radius: 3vh;
    display: inline-block;
    padding: 2vh 5vh;
    text-decoration: none;
    text-shadow: 0 1vh 0 rgba(220, 28, 150, 0.3);
    box-shadow: 0 1vh 1vh rgba(0,0,0,0.3);  
}
.btn{
    background-color: #fd03ae;
    cursor: pointer;
}
/*API*/
.aside {
    display: flex;
    float: left;
    width: 45%;
    height: 50%;
    background-color: #FEE1E8;
    padding: 10px;
}
.api img{
    float: left;
    align-content: center;
    width: 100%;
    height: auto;
}

/*FOOTER*/
.footer{
    width: 95%;
    max-height: 50%;
    background-color : #FEE1E8;
    display: flex;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: auto;
}
h2{
    padding: 10px;
    color:#fd03ae;
}
i{
    color: #050005;
}
.box-footer{
    width: 75%;
    height: 15%;
    padding: 20px;
}
.box-footer a{
    color: #270127;
    padding: 20px;
    margin: 10px;
}
iframe{
    display:flex;
    box-sizing: content-box;
    width: 95%;
    align-items: center;
    padding: 10px 10px;
    border-color: #050005;
}



/*MEDIAQUERY*/
/*CHICOS*/
@media screen and (max-width: 425px) {
    iframe{
        width: 90%;
    }
    .box-footer a{
        display: block;
            
    }
    .conteiner .card{
        width: 100%;
    }
    .formulario{
        width: 100%;
    }
}